!!!
%html{ "ng-app" => "rhubarbApp" }
  %head
    %title Rhubarb - Seasonal food reminder

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }

    = css "//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    = css "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
    = css "stylesheets/app.css"

  %body{ "ng-controller" => "MainController" }
    .container
      .row
        .panel.pane-default.col-sm-4.col-sm-offset-4
          %h1.text-center
            Never forget <span class="food">strawberry</span> season
          %p
            %small.help-block.text-center
              Remind me when yummy veggies & fruit come in season.
          %form
            %p.input-group
              %span.input-group-addon
                %span.icon-envelope
              %input.form-control.input-lg{name: "email", placeholder: "jonsnow@knowsnothi.ng", type: "text", "ng-model" => "email"}/
            %p.help-block.text-center
              %small Won't send unrequested emails
            %p.text-center
              %button.btn.btn-success.btn-lg{"ng-click" => "subscribe()"} Ok, me dum-dum

          -# = mega_hash.special_ki

    = js "//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"
    = js "javascripts/app.js"
